Repository mlukasze/SMF_SphinxAI_mod: changes, and which Codecov flags are due for each by the changed paths.
All: php, python, PHP Core, PHP Handlers, Python Core, Python AI Handlers, Python Utils

Fix CI/CD pipeline errors and enforce Python 3.10+ requirement
  .github/workflows/main.yml
  README.md
  SphinxAI/requirements-runtime.txt
  php/services/SphinxAICache.php
  tests/requirements_test.txt
Due: php, PHP Core

Debug CI/CD pipeline issues and disable problematic steps
  .github/workflows/main.yml
Due: none

Add smoke tests and simplify CI/CD debugging
  .github/workflows/main.yml
  tests/python/test_smoke.py
Due: none

Fix PHP syntax error in SphinxAICache.php
  php/services/SphinxAICache.php
Due: php, PHP Core

Fix SphinxAICache enum usage and workflow cleanup
  .github/workflows/main.yml
  .github/workflows/pylint.yml
  php/services/SphinxAICache.php
  tests/python/test_smoke.py
  tests/requirements_smoke.txt
Due: php, PHP Core

Fix CI/CD workflow by adopting working pylint.yml patterns
  .github/workflows/main.yml
Due: none

Fix critical Python type checking issues
  .isort.cfg
  SphinxAI/__init__.py
  SphinxAI/core/constants.py
  SphinxAI/core/interfaces.py
  SphinxAI/core/search_coordinator.py
  SphinxAI/handlers/genai_handler.py
  SphinxAI/handlers/sphinx_handler.py
  SphinxAI/main.py
  SphinxAI/setup.py
  SphinxAI/sphinx_integration.py
  SphinxAI/unified_model_converter.py
  SphinxAI/utils/cache.py
  SphinxAI/utils/config_manager.py
  SphinxAI/utils/model_utils.py
  SphinxAI/utils/text_processing.py
  tests/python/conftest.py
  tests/python/test_cache.py
  tests/python/test_config_manager.py
  tests/python/test_integration.py
  tests/python/test_smoke.py
  tests/python/test_utils.py
Due: python, Python Core, Python AI Handlers, Python Utils

Fix major Python type checking issues
  SphinxAI/core/search_coordinator.py
  SphinxAI/handlers/genai_handler.py
  SphinxAI/sphinx_integration.py
  SphinxAI/unified_model_converter.py
  SphinxAI/utils/cache.py
Due: python, Python Core, Python AI Handlers, Python Utils

Implement missing abstract methods in GenAIHandler
  SphinxAI/handlers/genai_handler.py
Due: python, Python AI Handlers

Move constants from genai_handler.py to constants.py
  SphinxAI/core/constants.py
  SphinxAI/handlers/genai_handler.py
Due: python, Python Core, Python AI Handlers

Remove unused DEFAULT_CHAT_MODEL import from genai_handler.py
  SphinxAI/handlers/genai_handler.py
Due: python, Python AI Handlers

Fix code formatting issues identified by CI
  SphinxAI/utils/cache.py
  SphinxAI/utils/model_utils.py
Due: python, Python Utils

Fix mypy type checking errors
  SphinxAI/handlers/genai_handler.py
  SphinxAI/main.py
  SphinxAI/utils/cache.py
  SphinxAI/utils/model_utils.py
  requirements-types.txt
Due: python, Python AI Handlers, Python Utils

Path conditions:
  php: any of: php/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  python: any of: SphinxAI/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  PHP Core: any of: php/core/, php/services/, php/utils/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  PHP Handlers: any of: php/handlers/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  Python Core: any of: SphinxAI/core/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  Python AI Handlers: any of: SphinxAI/handlers/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
  Python Utils: any of: SphinxAI/utils/, but not: tests/, docs/, *.md, *.txt, *.yml, *.yaml, *.xml, *.json, install.sh, install.bat, .github/, .pylintrc, SphinxAI/requirements*.txt, SphinxAI/models/, SphinxAI/data/
